@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl my-4 font-extralight;
    }
    h2 {
        @apply text-2xl my-2 font-extralight;
    }
    h3 {
        @apply text-lg my-1 font-extralight;
    }
    a:not(li > a):not(.unstyled) {
        @apply underline text-gray-400 text-xs hover:text-stone-600 transition-all focus:decoration-dotted outline-none focus:outline-none focus:text-pink-950;
    }
    a.disabled {
        @apply opacity-40 hover:!text-gray-400;
    }
}

/* Global fade animations, used in Vue transitions */
.fade-loading-enter-active,
.fade-loading-leave-active {
    transition: opacity 0.4s ease;
}

.fade-loading-enter-from,
.fade-loading-leave-to {
    opacity: 0;
}
